theme = "modus_operandi_deuteranopia"

[editor]
color-modes = true
popup-border = "popup"
end-of-line-diagnostics = "disable"
auto-pairs = false

[editor.inline-diagnostics]
cursor-line = "disable"
other-lines = "disable"

[editor.lsp]
display-inlay-hints = false

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 300

[editor.cursor-shape]
insert = "bar"

[editor.search]
wrap-around = false

[editor.indent-guides]
render = true
skip-levels = 2

[editor.soft-wrap]
enable = true
max-wrap = 0
max-indent-retain = 0
wrap-indicator = ""

[editor.whitespace.render]
space = "none"
tab = "all"
nbsp = "all"
nnbsp = "all"
newline = "none"

[keys.normal]
ret = "command_mode"
# Bind `V` (which does nothing by default) to be another alternative way to do
# the same things as `Xv`, `vX` does.
V = ["select_mode", "extend_to_line_bounds"]
"^" = ["goto_line_start"]
"$" = ["goto_line_end"]
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
tab = "move_parent_node_end"
S-tab = "move_parent_node_start"

[keys.insert]
# Bind `jj` to exit insert mode.
j = { j = "normal_mode" }
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
S-tab = "move_parent_node_start"

[keys.select]
ret = "command_mode"
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
tab = "extend_parent_node_end"
S-tab = "extend_parent_node_start"

[keys.normal.space]
space = "command_mode"
r = ":reflow"
q = ":quit"
