theme = "modus_operandi_deuteranopia"

[editor]
color-modes = true
popup-border = "popup"
end-of-line-diagnostics = "disable"

[editor.inline-diagnostics]
cursor-line = "disable"
other-lines = "disable"

[editor.lsp]
display-inlay-hints = false

[editor.auto-save]
focus-lost = true
after-delay.enable = true

[editor.cursor-shape]
insert = "bar"

[editor.search]
wrap-around = false

[editor.indent-guides]
render = true
skip-levels = 2

[editor.soft-wrap]
enable = true

[editor.whitespace.render]
space = "none"
tab = "all"
nbsp = "all"
nnbsp = "all"
newline = "none"

[keys.normal]
ret = "command_mode"
# Change Helix's default `x` key binding (extend_line_below).
#
# I don't like extend_line_below because it behaves inconsistently:
#
# 1. If the current line is not yet fully selected then `x` extends the
#    selection to fully select the current line.
# 2. If the current line is already fully selected then `x` extends the selection
#    to the line below.
# 3. If the current line is empty then it's fully selected by the cursor (which
#    is a single-character selection) so `x` again extends the selection to the
#    line below.
#
# It's particularly difficult to predict whether it's going to do 1 or 3
# when the current line contains only whitespace: a line containing only
# whitespace (behavior 1) looks the same as an empty line (behavior 2). So the
# extend_line_below command is inconsistent and unpredictable.
#
# This can be partly mitigated by enabling Helix's whitespace rendering so you
# can see whitespace-only lines but whitespace rendering throughout the entire
# file is very noisy and Helix has no option to render only trailing whitespace.
# And the behavior of extend_line_below is still tricky to predict.
#
# In addition, while it seems convenient to keep hitting `x` repeatedly to
# extend the selection to more and more lines downwards, if you go too far
# there's no way to contract the selection back up a line without first hitting
# `v` to enter select mode. There's also no way to extend the selection by
# multiple lines in a single jump (e.g. with PgDn and PgUp) without first
# entering select mode. So `x`'s default behavior is not as handy as it first
# seems.
#
# For all these reasons, re-bind `x` to "extend_to_line_bounds" which behaves
# more predictably and consistently: it extends the selection to include the
# entire current line, or does nothing if the current line is already entirely
# selected.
#
# This means for example that `xd` always deletes the current line.
#
# To select multiple lines hit either `xv` or `vx` to select the current line
# and enter select mode. You can now move the selection up and down with any
# movement commands, e.g. `j`, `k`, `PgDn`, `PgUp`, etc.
x = ["extend_to_line_bounds"]
# I no longer need the default binding for `X` (extend_to_line_bounds) because I've bound
# that to `x`. So re-bind `X` to be an alternative way to do the same thing as
# what `xv` or `vx` does.
X = ["select_mode", "extend_to_line_bounds"]
# Bind `V` (which does nothing by default) to be another alternative way to do
# the same things as `xv`, `vx` or `X` does.
# V = ["select_mode", "extend_to_line_bounds"]
"^" = ["goto_line_start"]
"$" = ["goto_line_end"]
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
tab = "move_parent_node_end"
S-tab = "move_parent_node_start"

[keys.insert]
# Bind `jj` to exit insert mode.
j = { j = "normal_mode" }
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
S-tab = "move_parent_node_start"

[keys.select]
# Extra smart-tab keybindings, recommended in the docs if your terminal
# supports Shift-Tab: https://docs.helix-editor.com/editor.html#editorsmart-tab-section
tab = "extend_parent_node_end"
S-tab = "extend_parent_node_start"
